body {
    margin: 1.5em;
    height: 90vh;
    /* box-sizing: border-box; */
    font-family: 'Alata', sans-serif;
    font-size: small;
    background: #30689C;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#title {
    margin-top: 0;
    color: white;
    text-align: center;
    font-size: medium;
    /* box-sizing: border-box; */
}

#word-container {
    background-color: #FF9393;
    border-radius: 10px;
    height: 25%;
    padding: 1em;
    display: grid;
    /* box-sizing: border-box; */
}

#btn-get-word,
#btn-check-audio,
#btn-increase-score {
    border: none;
    width: 7rem;
    height: 2rem;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 0.5px black;
    background: purple;
}

#btn-get-word {
    /* width: fit-content; */
    /* height: fit-content; */
    justify-self: center;
    /* display: block; */
    /* margin: auto; */
    /* box-sizing: border-box; */
    background-image: linear-gradient(white 10%, #FF9393);
}

#word-box {
    background-color: #EEEEEE;
    height: 2em;
    border-radius: 10px;
}

#btn-check-audio {
    /* display: block; */
    /* margin: auto; */
    /* box-sizing: border-box; */
    /* width: fit-content; */
    align-self: center;
    background-image: linear-gradient(white 20%, #30689C);
}

#score-container {
    background-color: #EEEEEE;
    border-radius: 10px;
    /* box-sizing: border-box; */
}

#player1 {
    padding: 1em;
    display: grid;
    grid-template: auto auto / auto auto;
}

#player-name,
#player-score {
    justify-self: center;
}

#btn-increase-score {
    grid-column: span 2;
    /* width: fit-content; */
    justify-self: center;
    background: rgb(227, 0, 0);
    color: white;

}