body {
    margin: 1.5em;
    height: 90vh;
    font-family: 'Alata', sans-serif;
    background: #30689C;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#title {
    margin-top: 0;
    color: white;
    text-align: center;
}

#word-container {
    background-color: #FF9393;
    border-radius: 10px;
    height: 25%;
    padding: 1em;
    display: grid;
}

#btn-get-word,
#btn-check-audio,
#btn-increase-score {
    border: none;
    width: 9em;
    height: 3em;
    border-radius: 20px;
    box-shadow: 0px 5px black;
    font-size: 1.3em;
    font-weight: bold;
}

#btn-get-word:hover,
#btn-check-audio:hover,
#btn-increase-score:hover {
    cursor: pointer;
}

#btn-get-word:active,
#btn-check-audio:active,
#btn-increase-score:active {
    box-shadow: 0px 1px black;
    transform: translateY(4px);
}

#btn-get-word {
    justify-self: center;
    background-image: linear-gradient(white 10%, #FF9393);
}

#word-box {
    background-color: #EEEEEE;
    height: 4em;
    border-radius: 10px;
}

#btn-check-audio {
    align-self: center;
    background-image: linear-gradient(white 20%, #30689C);
}

#score-container {
    background-color: #EEEEEE;
    border-radius: 10px;
}

#player1 {
    padding: 1em;
    display: grid;
    grid-template: auto auto / auto auto;
}

#player-name,
#player-score {
    justify-self: center;
    font-size: 1.3em;
}

#btn-increase-score {
    grid-column: span 2;
    justify-self: center;
    background: rgb(227, 0, 0);
    color: white;
}