body {
    margin: 0;
    padding: 0;
    font-family: 'Alata', sans-serif;
    background: #30689C;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 95vh;
    align-items: center;
}

#pedestal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-container {
    border-radius: 10px;
    width: 80%;
    max-width: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#access-container {
    border: 1px solid white;
    padding: 3em;
    color: white;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#access-title {
    margin-top: 0;
    text-align: center;
    font-size: 3em;
}

#access-message {
    margin-top: 0;
    font-size: 1.1em;
    line-height: 2em;
}

#form {
    display: flex;
    flex-direction: column;
}

#key-box {
    border: none;
    height: 30px;
    font-size: 20px;
    width: 100%;
}

#key-box::placeholder {
    font-family: 'Alata', sans-serif;
    font-size: 1rem;
    padding-left: 0.25rem;
}

#btn-enter {
    margin: 2rem auto 0.5rem auto;
    height: 32px;
    border: none;
    border-radius: 5px;
    background: #FF9393;
    font-size: 1rem;
    font-weight: bold;
    width: 50%;
}

#btn-enter:active {
    background: rgb(172, 58, 58);
}

#btn-enter:hover {
    background: #fbbaba;
    cursor: pointer;
}

#word-container {
    margin-bottom: 1rem;
    padding: 2rem 0;
    background-color: #FF9393;
    border-radius: 10px;
    width: 100%;
    /* height: 25%; this was the infamous bug */ 
    display: grid;
}

#btn-get-word,
#btn-check-audio,
#btn-increase-score {
    border: none;
    width: 90%;
    height: 3em;
    border-radius: 20px;
    box-shadow: 0px 5px black;
    font-size: 1.3em;
    font-weight: bold;
}

#btn-get-word:hover,
#btn-check-audio:hover,
#btn-increase-score:hover {
    cursor: pointer;
}

#btn-get-word:active,
#btn-check-audio:active,
#btn-increase-score:active {
    box-shadow: 0px 1px black;
    transform: translateY(4px);
}

#btn-get-word {
    margin-bottom: 1rem;
    justify-self: center;
    background-image: linear-gradient(white 10%, #FF9393);
}

#word-box {
    margin: auto;
    background-color: #EEEEEE;
    height: 6em;
    width: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#random-word {
    font-size: 2em;
}

#btn-check-audio {
    display: block;
    margin: 0 auto 1rem auto;
    align-self: center;
    background-image: linear-gradient(white 20%, #30689C);
}

#score-container {
    padding: 2rem 0;
    width: 100%;
    background: #EEEEEE;
    border-radius: 10px;
}

#player-score {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.3em;
    text-align: center;
}

#btn-increase-score {
    display: block;
    margin: auto;
    background: rgb(227, 0, 0);
    color: white;
}

@media (min-width: 768px) {

    #game-container {
        width: 100%;
    }
}